    body {
        height: 100%;
        margin: 0   !important;
        padding: 0   !important;
    }
    

  
    .bgDark{
        /* background-color: #191825; */
        background-color: #120E1C;
        
    }